{% extends 'main/dashboard_base.html' %}

{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">

    </div>
</div>

<div class="row">
    {% for meeting in meetings %}
    <div class="col-md-3 animated bounceInUp">
        <div class="card collapsed-card" style="background-color: #2ebdc4">
            <a class="card-header" href="{% url 'meeting' meeting.id %}" style="text-decoration: none">
                {% if meeting.done %}
                <img src="{% static 'images/done.png' %}" class="animated bounceInUp" width="40" height="40" alt="">
                <h4 class="text-muted" style="position: relative; left: 10px">Done</h4>
                {% elif meeting.doing %}
                <img src="{% static 'images/on_process.png' %}" class="animated bounceInUp" width="40" height="40"
                    alt="">
                <h4 class="text-muted" style="position: relative; left: 10px">In work..</h4>
                {% else %}
                <img src="{% static 'images/not_done.png' %}" class="animated bounceInUp" width="40" height="40" alt="">
                <h4 class="text-muted" style="position: relative; left: 10px">Not started yet</h4>
                {% endif %}
                <h3 class="card-title float-right" style="font-size: 23px">{{ meeting.title }}</h3>

                <div class="card-tools">
                    <button type="button" aria-expanded="false" class="btn btn-tool" data-widget="collapse"><i
                            style="color: black; font-size: 20px;" class="fas fa-plus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </a>
            <!-- /.card-header -->
            <div class="card-body" style="display: none;">
                <h4 style="color:rgb(255, 0, 0)">{{ meeting.obj }}</h4>
                <hr>
                <h4 style="color: aliceblue">Members</h4>
                <hr>
                {% for member in meeting.members.all %}
                <a href="{% url 'profile' member.id %}">
                    <h5>{{ member }}</h6>
                </a>
                <hr>
                {{ meeting.date_posted }}
                {% endfor %}
                <a href="{% url 'meeting' meeting.id %}" class="btn btn-block btn-light">Voir plus</a>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    {% endfor %}
    <!-- /.col -->
</div>
{% endblock %}