{% extends 'main/pv_resume_canva.html' %}

{% block body %}

<div dir="ltr"
    style="max-width:21.59cm;margin-top:2.54cm; margin-bottom:2.54cm; margin-left:2.54cm; margin-right:2.54cm; ">
    <p class="P1">Exemple de procès-verbal</p>
    <p class="En-tête_20_de_20_message"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Comité :&nbsp;
            &nbsp; &nbsp; &nbsp; </span>Nom du comité</p>
    <p class="En-tête_20_de_20_message"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Réunion :&nbsp;
            &nbsp; &nbsp; &nbsp; </span>2008-09</p>
    <p class="En-tête_20_de_20_message"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Date</span><span
            class="En-tête_20_de_20_message_20__28_Étiquette_29_"><span class="T2"> </span></span><span
            class="En-tête_20_de_20_message_20__28_Étiquette_29_">:&nbsp; &nbsp; &nbsp; &nbsp; </span>Lundi 3 septembre
        2008</p>
    <p class="En-tête_20_de_20_message"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Heure :&nbsp; &nbsp;
            &nbsp; &nbsp; 13h00 à 15h00</span></p>
    <p class="En-tête_20_de_20_message"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Lieu :&nbsp; &nbsp;
            &nbsp; &nbsp; Salle du conseil</span></p>
    <p class="P8"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_">Personnes présentes :&nbsp; &nbsp; &nbsp;
            &nbsp; Noms, prénoms , fonctions des membres ...</span></p>
    <p class="Text_20_body"><span class="En-tête_20_de_20_message_20__28_Étiquette_29_"></span></p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">1.</span>Adoption de l’ordre du jour<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <ol>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">1.</span>Adoption de l’ordre du jour<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">2.</span>Mot du président et présentation des
                nouveaux membres<span class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="P5" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">3.</span><span class="T3">Allocations pour
                    l’année 2008-2009</span><span class="odfLiEnd">&nbsp;</span></p>
            <ol>
                <li>
                    <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">3.1.</span>État de la situation et
                        modifications des tâches<span class="odfLiEnd">&nbsp;</span></p>
                </li>
                <li>
                    <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">3.2.</span>Répartition des ateliers<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
        <li>
            <p class="P5" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">4.</span><span class="T3">Plan de travail
                    2008-2009</span><span class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">5.</span>Élaboration du programme<span
                    class="odfLiEnd">&nbsp;</span></p>
            <ol>
                <li>
                    <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">5.1.</span>État de la situation<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
                <li>
                    <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">5.2.</span>Échéancier<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
                <li>
                    <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">5.3.</span>Présentation de la
                        documentation<span class="odfLiEnd">&nbsp;</span></p>
                </li>
                <li>
                    <p class="P5" style="margin-left:0cm;"><span class="WW8Num1z1"
                            style="display:block;float:left;min-width:0,762cm;">5.4.</span><span class="T3">Calendrier
                            des rencontres pour 2008-2009</span><span class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">6.</span>Informations diverses<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">7.</span>Varia<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="P6" style="margin-left:0cm;"><span class="WW8Num1z0"
                    style="display:block;float:left;min-width:0,635cm;">8.</span>Levée de l’assemblée<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="Proposition_20_No_borderStart">Résolution</p>
    <p class="Proposition_borderEnd">L’ordre du jour est proposé par Antoine C. et appuyé par Jean T.. Adopté à
        l’unanimité</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">2.</span>Mot du président et présentation des
                nouveaux membres<span class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="minutes">Le président présente les grandes lignes du travail que devra réaliser le comité au cours de
        l’année. La révision du programme exigera beaucoup de temps et d’énergie. Dans ce contexte, le comité devra
        probablement se réunir environ aux deux semaines pour pouvoir réaliser le travail. Le président rappelle le
        fonctionnement du comité. Il souligne la nécessité pour les membres de se réunir en sous-comités de travail et
        l’importance de bien faire circuler l’information à tous les membres.</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">3.</span>Allocations pour l’année 2008-2009<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="P2">&nbsp;</p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">3.1.</span>État de la situation et
                        modifications des tâches<span class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="minutes">Le président fait état de la situation difficile dans laquelle se déroule la rentrée au niveau
        des charges.<br>À ce moment, une tâche n'est pas encore attribuée. Cette tâche ne peut être donnée à un membre
        du comité puisque tous sont déjà à temps plein et ne sont pas disponibles. Le président souligne que la tâche a
        été offerte à l'extérieur qu’aucun employé n’était disponible pour prendre cette charge. La possibilité de
        morceler la tâche et de l’offrir en surplus de tâche a été examinée mais sans succès.</p>
    <p class="minutes">Des membres soulignent que la direction avait été avertie à plusieurs reprises que les prévisions
        étaient trop conservatrices. Ces avertissements sont demeurés sans effet. </p>
    <p class="minutes">Certains expriment du mécontentement à l’idée de confier une tâche à un employé sans expérience.
    </p>
    <p class="minutes">Plusieurs membres souhaitent que la direction partage davantage l’information dont elle dispose
        sur les paramètres utilisés dans les prévisions.</p>
    <p class="minutes"></p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">3.2.</span>Répartition des ateliers<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="minutes">Le président informe le comité que la création de groupes homogènes n’a pu être réalisé qu’en
        partie. Des groupes homogènes ont pu être crées parce que le nombre de participants inscrits était suffisant, le
        hasard ayant bien fait les choses. Toutefois, les groupes ainsi créés n’ont pu être associés à une tâche
        désignée à l’avance. L’organisation invoque la difficulté de créer de tels horaires; il ne semble pas impossible
        de procéder à la création de tels horaires mais le manque de ressources humaines dédiées à cette tâche empêche
        de procéder. </p>
    <p class="minutes">Un membre indique que bien qu’il y ait 55 participants inscrits, il n’y a qu’un groupe de 33
        participants dans le premier atelier. Où sont les 22 participants manquants et pourquoi ne sont-ils pas inscrits
        dans l'atelier? Un échange ne permet pas de trouver une réponse satisfaisante et un suivi sera nécessaire. </p>
    <p class="minutes">Il ressort des échanges que les membres sont insatisfaits de la situation actuelle qui s’avère
        pénible. </p>
    <p class="minutes">&nbsp;</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">4.</span>Plan de travail 2008-2009<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="minutes">Le président &nbsp;présente le plan de travail pour l’année. Plusieurs interventions sont faites
        sur es éléments présentés au plan de travail.</p>
    <ul>
        <li>
            <p class="minutes_20_liste" style="margin-left:0,63cm;"><span class="WW8Num3z0"
                    style="display:block;float:left;min-width:0,63cm;">.</span>Un membre intervient pour parler de la
                nécessité de créer le plus tôt possible un sous-comité pour le premier atelier. Il y a un besoin urgent
                de coordination entre les ateliers.<span class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="minutes_20_liste" style="margin-left:0,63cm;"><span class="WW8Num3z0"
                    style="display:block;float:left;min-width:0,63cm;">.</span>Un comité sera donc convoqué par le
                président dans les prochaines semaines.<span class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="minutes_20_liste" style="margin-left:0,63cm;"><span class="WW8Num3z0"
                    style="display:block;float:left;min-width:0,63cm;">.</span>Un membre fait remarquer qu’au chapitre
                du perfectionnement les membres bénéficieraient d’une formation sur les outils informatiques.<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="minutes_20_liste" style="margin-left:0,63cm;"><span class="WW8Num3z0"
                    style="display:block;float:left;min-width:0,63cm;">.</span>On fait remarquer que le comité
                d’informatique n’apparaît pas au plan et qu’il serait pertinent de le créer afin d’assurer un suivi sur
                les difficultés rencontrées et sur les besoins en informatique. De plus, la formation sur des outils
                informatiques apparaît maintenant comme une priorité.<span class="odfLiEnd">&nbsp;</span></p>
        </li>
        <li>
            <p class="minutes_20_liste" style="margin-left:0,63cm;"><span class="WW8Num3z0"
                    style="display:block;float:left;min-width:0,63cm;">.</span>Le plan de travail sera modifié pour
                tenir compte des commentaires et les éléments seront priorisés. Il sera présenté lors d’une prochaine
                rencontre pour adoption.<span class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ul>
    <p class="P7">&nbsp;</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">5.</span>Élaboration du programme<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="P2">&nbsp;</p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">5.1.</span>État de la situation<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="minutes">On rappelle que Claire est responsable de ce dossier.</p>
    <p class="minutes">La séquence des travaux requis est présentée à tous. Les échéances pour réaliser les travaux sont
        «&nbsp;serrées&nbsp;» et nécessiteront un effort particulier. </p>
    <p class="minutes">La première étape consiste en la rédaction du premier document pour le mois de février. Une fois
        ce document adopté par le comité, les travaux porteront sur la rédaction du second document. Plusieurs
        contraintes devront être respectées et offrent une marge de manœuvre limitée. Ce dernier document devra être
        complété au plus tard en avril.</p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">5.2.</span>Échéancier<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="minutes">Le sujet a &nbsp;déjà été discuté au point 5.1</p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">5.3.</span>Présentation de la
                        documentation<span class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="P3">&nbsp;</p>
    <p class="P3">Des documents d’information sur le révision du programme sont distribués à tous les membres.</p>
    <ol>
        <li>
            <ol>
                <li>
                    <p class="Point_20_2" style="margin-left:1,259cm;"><span class="WW8Num2z0"
                            style="display:block;float:left;min-width:0,762cm;">5.4.</span><span
                            class="T5">&nbsp;</span>Calendrier des rencontres pour l’automne 2008<span
                            class="odfLiEnd">&nbsp;</span></p>
                </li>
            </ol>
        </li>
    </ol>
    <p class="minutes">Des dates de rencontre déterminées à l’avance sont proposées pour la tenue des réunions du comité
        de programme..</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">6.</span>Information diverses<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="P2">&nbsp;</p>
    <p class="minutes">Sujet non abordé.</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">7.</span>Varia<span
                    class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="minutes">Sujet non abordé.</p>
    <ol>
        <li>
            <p class="Point_20_1" style="margin-left:0cm;"><span class="WW8Num2z0"
                    style="display:block;float:left;min-width:0,635cm;">8.</span>Levée de l’assemblée et prochaine
                réunion<span class="odfLiEnd">&nbsp;</span></p>
        </li>
    </ol>
    <p class="P2">&nbsp;</p>
    <p class="minutes">L’assemblée est levée à 14h30 et la prochaine réunion aura lieu lundi 15 octobre à 13 heures au
        même endroit.</p>
    <p class="P2">&nbsp;</p>
    <p class="Signature_20__28_Nom_29_">&nbsp;</p>
    <p class="Signature_20__28_Nom_29_">Le secrétaire
        <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;Le
            président</span></p>
    <p class="Signature_20__28_Intitulé_20_du_20_poste_29_">&nbsp;</p>
    <p class="Standard">&nbsp;</p>
    <p class="Standard">&nbsp;</p>
    <p class="P4">Adopté à la réunion du Comité du ...</p>
    <p class="Standard">&nbsp;</p>
    <p class="Standard">&nbsp;</p>
</div>

{% endblock %}